<!DOCTYPE html>
<html>
<title>Fodringsopslag</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
 <!-- The Grid -->
<div class="w3-row-padding">
  
<!-- Left Column -->
<div class="w3-third">
  <div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-container">
      <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>NYMFID</b></p>
      <div class="w3-container">
        <input class="w3-input w3-border w3-padding" type="text" placeholder="Søg på fordring"
           id="myInput" onkeyup="myFunction()">
        <ul class="w3-ul w3-margin-top" id="myUL">
          <li>Adele</li>
          <li>Agnes</li>
          <li>Billy</li>
          <li>Bob</li>
          <li>Calvin</li>
          <li>Christina</li>
          <li>Cindy</li>
        </ul>
      </div>
  
      <br>
    </div>
  </div><br>
<!-- End Left Column -->
</div>

<!-- Right Column -->
<div class="w3-twothird">
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Overblik</h2>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
      <p>Lorem ipsum dolin deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
      <hr>
    </div>
  </div>
 <!-- End Right Column -->
 </div>

    
<!-- End Grid -->
</div>
<!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Fordringsopslag</p>
</footer>

<script>
function myFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    txtValue = li[i].textContent || li[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>


</body>
</html>

